.App {
  text-align: center;
}

.home {
  margin-top: 140px;
}

.home h1, h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.home h1 {
  font-size: 60px;
}

.signUpPage {
  margin-top: 100px;
}

.signUpForm input {
  border-radius: 10px;
  padding: 7px;
  border-width: 1px;
  font-size: 15px;
  text-align: center;
}

.signUpForm label {
  display: block; 
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
}

#signUpSubmit {
  margin-top: 25px;
  padding: 8px;
}

.loginPage {
  margin-top: 120px;
}

.loginForm input {
  border-radius: 10px;
  padding: 7px;
  border-width: 1px;
  font-size: 15px;
  text-align: center;
}

.loginForm label {
  display: block; 
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
