[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restful = "*"
python-dotenv = "*"
flask-bcrypt = "*"
honcho = "*"
sqlalchemy-serializer = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-session = "*"

[dev-packages]

[requires]
python_version = "3.8"
